@font-face {
  font-family: 'Quicksand';
  src: url(/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'Weather';
  src: url(/fonts/weather.otf);
}

@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  src: url(/fonts/Quicksand-Bold.ttf);
}

body, html, main, .settings { height: 100%; overflow: hidden;}

.night main {
  background: #00001E;
  color: white;
}

.day main {
  background: #3498db;
  color: #00001E;
}

.day.rain main, .day.cloudy main {
  background: #aaa;
}

.day.partly-cloudy main {
  background: #99aabb;
}

.weatherBG {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

/*ICONS*/

@keyframes raindrops {
  from { -webkit-transform: translate3d(0px, 0px, 0px) rotate(45deg); }
  to { top:100%; -webkit-transform: translate3d(0px, 0px, 0px) rotate(45deg); }
}

@-webkit-keyframes raindrops {
  from { -webkit-transform: translate3d(0px, 0px, 0px) rotate(45deg); }
  to { top:100%; -webkit-transform: translate3d(0px, 0px, 0px) rotate(45deg); }
}

@keyframes windy-raindrops {
  from { -webkit-transform: translate3d(0px, 0px, 0px) rotate(30deg); }
  to { top:100%; -webkit-transform: translate3d(0px, 0px, 0px) rotate(45deg); }
}

@-webkit-keyframes windy-raindrops {
  from { -webkit-transform: translate3d(0px, 0px, 0px) rotate(30deg); }
  to { top:110%; -webkit-transform: translate3d(100px, 0px, 0px) rotate(30deg); }
}

.weather-icon {
  display: block;
  font-family: 'Weather';
  font-size: 160px;
  position: absolute;
}


.drop {
  opacity: 0.7;
  z-index: 999;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #79dbfc;
  border-radius: 0px 10px 10px 10px;
  transform: rotate(45deg);
}

.rain .drop {
  -webkit-animation: raindrops 2.5s infinite cubic-bezier(0.33, 0, 0.66, 0.33)
}

.wind.rain .drop {
	-webkit-animation: windy-raindrops 2.5s infinite cubic-bezier(0.33, 0, 0.66, 0.33)
}

.rain .drop:nth-of-type(odd) {
	-webkit-animation-duration: 3.1s;
}

.rain .drop:nth-of-type(odd) {
	-webkit-animation-duration: 2.5s;
}

.rain .drop:nth-of-type(2n+1) {
	-webkit-animation-duration: 2.7s;
}

.rain .drop:nth-of-type(3n+1) {
	-webkit-animation-duration: 2.9s;
}

.rain .drop:nth-of-type(5n+0) {
	-webkit-animation-duration: 2.6s;
}

.weather-icon.sun:before {
  content: '1';
}

.weather-icon.moon:before {
  content: '6';
}

.weather-icon.lightning:before {
  content: '4';
}

.weather-icon.clouds:before {
  content: '3';
}

.weather-icon.sunrise:before {
  content: '9';
}

.weather-icon.sunset:before {
  content: '0';
}

/*END ICONS*/

.settings {
  font-family: 'Quicksand';  
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;  
  z-index:1;
  background: #2c3e50;
  color:#fff;
  padding:0 20px;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
}

.settings h2 {
  font-weight: normal;
}

.settings input[type='text'] {
  width: 100%;
  margin: 0 0 10px;
  font-size: 1em;
  background: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  border-radius: 0;  
  box-shadow: none;
  color:#fff;
}

.settings .button-group {
  float: right;
}

main {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
	position: relative;
}

.open main {
  -webkit-transform: translate3d(300px, 0, 0); 
  -moz-transform: translate3d(300px, 0, 0); 
}

.open .settings {
  -webkit-transform: translate3d(0, 0, 0); 
  -moz-transform: translate3d(0, 0, 0); 
}

#loading {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center
}

#loading span {
	font-family: 'Quicksand';
	color: #fff;
	display: block;
	margin-bottom: 2px;
}

.current {
	width: 300px;
	margin: 50px auto 0px;
	padding: 20px;
	border-radius: 10px;
	display: block;
}

.current span{  
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: -2px;
  display: block;
}

.current .temperature {
  font-size:7em;
  letter-spacing: normal;
}

.time-scroll {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
  padding: 40px 0 25px;  
}

.time-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	overflow: none;
}

.times {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
	padding: 0;
  list-style: none;
	width: 999em;
	position: relative;
}

.times li {
  width: 45px;
  display: block;
  float: left;
  text-align: right;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
	cursor: pointer;
	opacity: 0.5;
	position: relative;
}

.times li.sunset, .times li.sunrise {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  font-family: 'Weather';
  font-size: 48px;
  position: relative;
}

.times li span {
  display: block;
  position: absolute;
  top: -60px;
}

.times li.sunset {
  color: orange;
}

.times li.sunrise {
  color: yellow;
}

/*.times li.sunrise span:before {
  content: '9';
}

.times li.sunset span:before {
  content: '0';
}*/

.times .dayBreak {
	font-weight: bold;
	font-size: 1.5em;
	text-align: right;
	opacity: 1.0;
}

.times .active {
	font-weight: bold;
	font-size: 1.2em;
	opacity: 1.0;
}

#pinButton {
	position: absolute;
	left: 0px;
	top: 10px;
	display: block;
	background: #2c3e50;
	padding:10px 10px 7px;
	border-radius: 0 5px 5px 0;
}

#pinButton svg {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

.open #pinButton svg {
	-webkit-transform: rotate(180deg);	
	-moz-transform: rotate(180deg);	
}
